# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
.vscode
*.sublime*
*.pdf
*.psd
*.ai
*.log

# Вспомогательные файлы
*.log*
node_modules/
reports/
npm-debug.*

# Папка с собранными файлами проекта
build
