@import "../../general/mixins";

@import "../../libs/smart-grid";

.test {

  @include container;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100px;
  background-color: #0000ff;
}

h2 {
  flex-basis: 100%;
  text-align: center;
  color: #ffffff;
}
