extends layouts/layout

block title
  | All pages

block main
  style.
    a {
      color: blue;
    }

    a:visited {
      color: #7a0800;
    }

    a:hover {
      color: #b30a00;
    }

    .third-level {
      padding-left: 1em;
    }
  -
    let pageCount = 1;

    const pages = [
      {
        title: 'Главная страница',
        innerPages: [
          {
            name: 'Главная - второй уровень',
            src: 'main.html'
          }
        ]
      },
      {
        title: 'Внутренние страницы',
        innerPages: [
          {
            name: 'Внутренняя страница - второй уровень',
            src: 'inner.html',
            pages: [
              {
              name: 'Внутренняя страница - третий уровень',
              src: 'inner-third.html'
              }
            ]
          },
        ]
      }
    ];

  ol
    each page in pages
      li
        h3= page.title

        if page.innerPages.length > 0
          each secondLevel in page.innerPages
            p
              a(href=secondLevel.src)
                = pageCount++
                | .
                |
                = secondLevel.name
                if secondLevel.src.length > 0
                  |
                  | ---
                  |
                  = secondLevel.src

            if secondLevel.pages && secondLevel.pages.length > 0
              each thirdLevel in secondLevel.pages
                p.third-level
                  a(href=thirdLevel.src)
                    = pageCount++
                    | .
                    |
                    = thirdLevel.name
                    if thirdLevel.src.length > 0
                      |
                      | ---
                      |
                      = thirdLevel.src
