extends layouts/layout
include components/header/header
include components/footer/footer
include components/main/testSection

block title
  | Главная страница

block header
  header

block main
  main
    +testSection

block footer
  footer
